.news-card {
  width: 20rem;
  height: 25rem;
}

.news-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.news-image {
  background-position: center;
  background-repeat: no-repeat;
  height: 13rem;
  width: 100%;
}

.default {
  background-image: url('../../assets/images/news.svg');
}

.news-pub_date {
  margin: 0;
  font-style: italic;
  font-size: 0.8rem;
}
